* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
button,
a {
    font-family: 'Roboto';
}

body {
    background-color: #2D3A58;
    margin: 3vh 2vw 3vh 2vw;
}

/* header*/

header {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    margin-top: 1vh;
    margin-bottom: 0;

}

header>img {
    height: 30vh;
    margin: auto;
    grid-area: 1/1/2/2;
}

header>section {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    margin: auto;
}

h1 {
    color: #FF946D;
    font-size: 3em;
    grid-area: 1/2/1/3;
    text-transform: uppercase;
}

h2 {
    color: #FF946D;
    text-transform: uppercase;
    font-size: 1.8em;
    grid-area: 2/2/2/4;
}

/* recherche mots-clefs*/

body>div:first-of-type {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1vh;
}

body>div:first-of-type>div>input {
    background-color: #FEDACD;
    border: 0;
    padding: 2vh 2vw;
    font-size: 3vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

body>div:first-of-type>div>button {
    background-color: #FF946D;
    padding: 1.6vh 1vw 1.7vh 1vw;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

body>div:first-of-type>div {
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    grid-column: 4/5;
    margin-right: 7vw;
}

/* bouton metiers*/

body>div:nth-of-type(2)>button:first-of-type {
    border: none;
    padding: 1.7vh 3vw;
    border-radius: 10px;
    background-color: #FEDACD;
    font: bold 3.6vh 'Roboto';
    color: black;
    margin-left: 4vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 4vh;
}

button:hover {
    transform: scale(1);
    box-shadow: 0 0 65px #FEDACD inset, 0 0 20px #FF946D, 0 0 15px #FEDACD;
}

body>div:nth-of-type(2)>button:first-of-type>img {
    height: 3vh;
    margin-right: 1vw;
}

/* bouton recherche metiers = formulaire */

body>div:nth-of-type(2)>a {
    border: none;
    padding: 1.7vh;
    border-radius: 10px;
    background-color: #FEDACD;
    font: bold 3.3vh 'Roboto';
    color: black;
    margin-left: 3vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 4vh;
    width: auto;
    text-decoration: none;
}

body>div:nth-of-type(2)>a:hover {
    transform: scale(1);
    box-shadow: 0 0 65px #FEDACD inset, 0 0 20px #FF946D, 0 0 15px #FEDACD;
}

body>div:nth-of-type(2) {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;
}

section>h4 {
    color: #FF946D;
}

/* Menu des métiers */

body>section:first-of-type {
    background-color: #FEDACD;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15vh 1fr 1fr;
    margin-bottom: 2vh;
    border-radius: 15px;
}

body>section:first-of-type>h3 {
    grid-area: 1/1/1/5;
    margin: auto;
    font-size: 6vh;
}

body>section:first-of-type>a {
    text-align: center;
    background: linear-gradient(to bottom right, #FF946D, #FEDACD);
    border-radius: 10px;
    margin: 10%;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border: none;
    text-decoration: none;
    color: black;
}

body>section:first-of-type>a:hover {
    transform: scale(1);
    box-shadow: 0 0 65px #FEDACD inset, 0 0 20px #FF946D, 0 0 15px #FEDACD;
}

body>section:first-of-type {
    display: none;
}

/* section */

main>section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto auto auto auto;
}

main>section:first-of-type>h3 {
    color: #FF946D;
    grid-area: 1/1/1/2;
    font-size: 2em;
    margin: 6vh auto 3vh 7vw;
}

main>section:first-of-type>p {
    background-color: #FEDACD;
    grid-area: 2/1/2/2;
    width: 85%;
    padding: 9vh 3vw 9vh 3vw;
    text-align: justify;
    border-radius: 15px;
    font-size: 1.2em;
    margin-left: 7vw;
}

main>section:first-of-type>img {
    grid-area: 2/2/2/3;
    height: 22.4vw;
    margin: auto 7vw 2vh auto;
    border-radius: 15px;
}

main>section:first-of-type>iframe {
    width: 85%;
    height: 80vh;
    margin: 1vh auto auto auto;
    grid-area: 6/1/6/3;
    border-radius: 15px;
}

/* interview*/

main>section:first-of-type>article {
    background-color: #FEDACD;
    padding: 4vh 3vw 4vh 3vw;
    grid-area: 3/1/3/3;
    margin: 5vh auto 4vh auto;
    width: 85%;
    border-radius: 30px;
}

main>section:first-of-type>article>h5 {
    color: #FF946D;
    margin: 2vh auto 1vh auto;
    font-size: 1.5em;
}

main>section:first-of-type>article>p {
    color: black;
    margin: 1vh auto 2vh auto;
    font-size: 1em;
    text-align: justify;
}

main>section:first-of-type>article>h4 {
    color: #FF946D;
    margin: 2vh auto 2vh auto;
    font-size: 2em;
}

main>section>article:first-of-type>p:first-of-type {
    font-size: 1.2em;
    margin: 1vh auto 4vh auto;
    font-style: italic;
}

/* footer */

footer>div>a>img {
    max-width: 4vw;
    margin-left: 1.6vw;
    margin-right: 1.6vw;
}

footer>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    margin: 3vh 0 3vh 0;
}

footer>a {
    font-size: 3vh;
    color: #FF946D;
    text-decoration: none;
    margin: auto 0 auto 0;
}

footer>a:hover {
    color: #FEDACD;
}

/* tableau et anglais */

main>section>article:last-of-type{
    grid-area: 4/1/4/3;
}

main>section>article:last-of-type>table{
    margin: 4vh auto 4vh auto;
}

main>section>article:last-of-type>table, tr, td{
    border: solid #FF946D 3px;
    border-collapse: collapse;
}

main>section>article:last-of-type>table>tbody>tr>td{
    width: 20%;
}
main>section>article:last-of-type>table>tbody>tr:first-of-type>td{
    text-align: center;
    padding: 2vh 2vw 2vh 2vw;
    color: #2D3A58;
    background-color: #FF946D;
    font-size: 1.3em;
}

main>section>article:last-of-type>table>tbody>tr:nth-of-type(2)>td{
    text-align: left;
}

main>section>article:last-of-type>table>tbody>tr>td>ul{
    margin: 1vh auto 1vh auto;
    text-align: left;
}

main>section>article:nth-of-type(2){
    grid-area: 5/1/5/3;
}

main>section>article:nth-of-type(2)>p{
    text-transform: initial;
    font-size: 1em;
    text-align: justify;
}

@media (max-width: 1000px) and (orientation: portrait) {
    * {
        box-sizing: border-box;
        margin: 0;
        font-family: 'Roboto';
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    button,
    a {
        font-family: 'Roboto';
    }

    body {
        background-color: #2D3A58;
        margin: 3vh 2vw 3vh 2vw;
    }

    /* header*/

    header {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        margin-top: 1vh;
        margin-bottom: 0;

    }

    header>img {
        height: 10vh;
        margin: auto;
        grid-area: 1/1/2/2;
    }

    header>section {
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        margin: auto;
    }

    h1 {
        color: #FF946D;
        font-size: 3em;
        grid-area: 1/2/1/3;
        text-transform: uppercase;
    }

    h2 {
        color: #FF946D;
        text-transform: uppercase;
        font-size: 1.8em;
        grid-area: 2/2/2/4;
    }

    /* recherche mots-clefs*/

    body>div:first-of-type {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 1vh;
    }

    body>div:first-of-type>div>input {
        background-color: #FEDACD;
        border: 0;
        padding: 1vh 1vw;
        font-size: 3vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 30vw;
        height: 3vh;
    }

    body>div:first-of-type>div>button {
        background-color: #FF946D;
        padding: 0.6vh 1vw 0.6vh 1vw;
        border: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    body>div:first-of-type>div {
        border-radius: 10px;
        display: flex;
        flex-flow: row nowrap;
        grid-column: 4/5;
        margin-right: 7vw;
    }

    /* bouton metiers*/

    body>div:nth-of-type(2) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-top: 2vh;
    }

    body>div:nth-of-type(2)>button:first-of-type {
        border: none;
        padding: 1vh 4vw;
        border-radius: 10px;
        background-color: #FEDACD;
        font: bold 1.7em 'Roboto';
        margin-left: 4vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 4vh;

    }

    button:hover {
        transform: scale(1);
        box-shadow: 0 0 65px #FEDACD inset, 0 0 20px #FF946D, 0 0 15px #FEDACD;
    }

    body>div:nth-of-type(2)>button:first-of-type>img {
        height: 2vh;
        margin: auto 1vw auto auto;
    }

    /* bouton recherche metiers = formulaire */

    body>div:nth-of-type(2)>a {
        border: none;
        padding: 1.2vh;
        border-radius: 10px;
        background-color: #FEDACD;
        font: bold 1.6em 'Roboto';
        margin-left: 3vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 4vh;
        width: auto;
        text-decoration: none;
    }

    a:hover {
        transform: scale(1);
        box-shadow: 0 0 65px #FEDACD inset, 0 0 20px #FF946D, 0 0 15px #FEDACD;
    }

    body>div:nth-of-type(2) {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        align-items: center;
    }

    /* Menu des métiers */

    body>section:first-of-type {
        background-color: #FEDACD;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 1fr 1fr;
        margin-bottom: 2vh;
        border-radius: 15px;
    }

    body>section:first-of-type>h3 {
        grid-area: 1/1/1/5;
        margin: 2vh 4vw 2vh 4vw;
        font-size: 1em;
    }

    body>section:first-of-type>a {
        text-align: center;
        background: linear-gradient(to bottom right, #FF946D, #FEDACD);
        border-radius: 10px;
        margin: 2vh;
        padding: 1.2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        border: none;
        text-decoration: none;
        color: black;
    }

    body>section:first-of-type {
        display: none;
    }

    main>section:first-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto auto auto;
    }

    main>section:first-of-type>h3 {
        color: #FF946D;
        grid-area: 1/1/1/2;
        font-size: 2em;
        margin: 2vh auto 3vh 7vw;
    }

    main>section:first-of-type>p {
        background-color: #FEDACD;
        grid-area: 2/1/2/2;
        width: 85%;
        padding: 1vh 3vw 1vh 3vw;
        text-align: justify;
        border-radius: 15px;
        font-size: 1.2em;
        margin-left: 7vw;
    }

    main>section:first-of-type>img {
        grid-area: 2/2/2/3;
        height: 22.4vw;
        margin: auto 7vw 2vh auto;
        border-radius: 15px;
    }

    main>section:first-of-type>iframe {
        width: 85%;
        height: 50vh;
        margin: 1vh auto auto auto;
        grid-area: 6/1/6/3;
        border-radius: 15px;
    }

    /* interview*/

    main>section:first-of-type>article {
        background-color: #FEDACD;
        padding: 1vh 3vw 1vh 3vw;
        grid-area: 3/1/3/3;
        margin: 2vh auto 2vh auto;
        width: 85%;
        border-radius: 30px;
    }

    main>section:first-of-type>article>h5 {
        color: #FF946D;
        margin: 2vh auto 1vh auto;
        font-size: 1.5em;
    }

    main>section:first-of-type>article>p {
        color: black;
        margin: 1vh auto 2vh auto;
        font-size: 1em;
        text-align: justify;
    }

    main>section:first-of-type>article>h4 {
        color: #FF946D;
        margin: 2vh auto 2vh auto;
        font-size: 2em;
    }

    main>section:first-of-type>article:first-of-type>p:first-of-type {
        font-size: 1.2em;
        margin: 1vh auto 4vh auto;
        font-style: italic;
    }

/* tableau et anglais */

main>section>article:last-of-type{
    grid-area: 4/1/4/3;
}

main>section>article:last-of-type>table{
    margin: 1vh auto 1vh auto;
}

main>section>article:last-of-type>table, tr, td{
    border: solid #FF946D 2px;
    border-collapse: collapse;
}

main>section>article:last-of-type>table>tbody>tr>td{
    width: 20%;
}
main>section>article:last-of-type>table>tbody>tr:first-of-type>td{
    text-align: center;
    padding: 1vh 1vw 1vh 1vw;
    color: #2D3A58;
    background-color: #FF946D;
    font-size: 1.1em;
}

main>section>article:last-of-type>table>tbody>tr:nth-of-type(2)>td{
    text-align: left;
}

main>section>article:last-of-type>table>tbody>tr>td>ul{
    margin: 1vh auto 1vh auto;
    text-align: left;
}

main>section>article:nth-of-type(2){
    grid-area: 5/1/5/3;
    margin: 1vh auto 1vh auto;
}

main>section>article:nth-of-type(2)>p{
    text-transform: initial;
    font-size: 1em;
    text-align: justify;
}

    /* footer */

    footer>div>a>img {
        max-width: 4vw;
        margin-left: 1.6vw;
        margin-right: 1.6vw;
    }

    footer>div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-content: center;
        justify-items: center;
    }

    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: center;
        justify-items: center;
        margin: 3vh 0 3vh 0;
    }

    footer>a {
        font-size: 1.2em;
        color: #FF946D;
    }

}